In [1]:
import polars as pl
df_customer = pl.read_csv("./data/customer.csv")
df_category = pl.read_csv("./data/category.csv")
df_product = pl.read_csv("./data/product.csv")
df_receipt = pl.read_csv("./data/receipt.csv")
df_store = pl.read_csv("./data/store.csv")
df_geocode = pl.read_csv("./data/geocode.csv")

# 演習問題

---
> P-001: レシート明細データ（df_receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [2]:
df_receipt.head(10)

shape: (10, 9)
┌───────────┬────────────┬──────────┬────────────┬───┬────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epoc ┆ store_cd ┆ receipt_no ┆ … ┆ customer_i ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ h          ┆ ---      ┆ ---        ┆   ┆ d          ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ ---        ┆ str      ┆ i64        ┆   ┆ ---        ┆ str        ┆ i64      ┆ i64    │
│           ┆ i64        ┆          ┆            ┆   ┆ str        ┆            ┆          ┆        │
╞═══════════╪════════════╪══════════╪════════════╪═══╪════════════╪════════════╪══════════╪════════╡
│ 20181103  ┆ 1541203200 ┆ S14006   ┆ 112        ┆ … ┆ CS00621400 ┆ P070305012 ┆ 1        ┆ 158    │
│           ┆            ┆          ┆            ┆   ┆ 0001       ┆            ┆          ┆        │
│ 20181118  ┆ 1542499200 ┆ S13008   ┆ 1132       ┆ … ┆ CS00841500 ┆ P070701017 ┆ 1        ┆ 81     │
│           ┆            ┆          ┆            ┆   ┆ 0097       ┆            ┆          ┆        │
│ 20170712  ┆ 1499817600 ┆ S14028   ┆ 1102       ┆ … ┆ CS02841400 ┆ P060101005 ┆ 1        ┆ 170    │
│           ┆            ┆          ┆            ┆   ┆ 0014       ┆            ┆          ┆        │
│ 20190205  ┆ 1549324800 ┆ S14042   ┆ 1132       ┆ … ┆ ZZ00000000 ┆ P050301001 ┆ 1        ┆ 25     │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20180821  ┆ 1534809600 ┆ S14025   ┆ 1102       ┆ … ┆ CS02541500 ┆ P060102007 ┆ 1        ┆ 90     │
│           ┆            ┆          ┆            ┆   ┆ 0050       ┆            ┆          ┆        │
│ 20190605  ┆ 1559692800 ┆ S13003   ┆ 1112       ┆ … ┆ CS00351500 ┆ P050102002 ┆ 1        ┆ 138    │
│           ┆            ┆          ┆            ┆   ┆ 0195       ┆            ┆          ┆        │
│ 20181205  ┆ 1543968000 ┆ S14024   ┆ 1102       ┆ … ┆ CS02451400 ┆ P080101005 ┆ 1        ┆ 30     │
│           ┆            ┆          ┆            ┆   ┆ 0042       ┆            ┆          ┆        │
│ 20190922  ┆ 1569110400 ┆ S14040   ┆ 1102       ┆ … ┆ CS04041500 ┆ P070501004 ┆ 1        ┆ 128    │
│           ┆            ┆          ┆            ┆   ┆ 0178       ┆            ┆          ┆        │
│ 20170504  ┆ 1493856000 ┆ S13020   ┆ 1112       ┆ … ┆ ZZ00000000 ┆ P071302010 ┆ 1        ┆ 770    │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20191010  ┆ 1570665600 ┆ S14027   ┆ 1102       ┆ … ┆ CS02751400 ┆ P071101003 ┆ 1        ┆ 680    │
│           ┆            ┆          ┆            ┆   ┆ 0015       ┆            ┆          ┆        │
└───────────┴────────────┴──────────┴────────────┴───┴────────────┴────────────┴──────────┴────────┘

---
> P-002: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。

In [3]:
df_receipt.select(["sales_ymd", "customer_id", "product_cd", "amount"]).head(10)

shape: (10, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20181103  ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118  ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712  ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205  ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ 20180821  ┆ CS025415000050 ┆ P060102007 ┆ 90     │
│ 20190605  ┆ CS003515000195 ┆ P050102002 ┆ 138    │
│ 20181205  ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922  ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504  ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010  ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└───────────┴────────────────┴────────────┴────────┘

---
> P-003: レシート明細データ（df_receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。ただし、sales_ymdをsales_dateに項目名を変更して抽出すること。

In [4]:
df_receipt.select(pl.col("sales_ymd").alias("sales_date"), "customer_id", "product_cd", "amount").head(10)

shape: (10, 4)
┌────────────┬────────────────┬────────────┬────────┐
│ sales_date ┆ customer_id    ┆ product_cd ┆ amount │
│ ---        ┆ ---            ┆ ---        ┆ ---    │
│ i64        ┆ str            ┆ str        ┆ i64    │
╞════════════╪════════════════╪════════════╪════════╡
│ 20181103   ┆ CS006214000001 ┆ P070305012 ┆ 158    │
│ 20181118   ┆ CS008415000097 ┆ P070701017 ┆ 81     │
│ 20170712   ┆ CS028414000014 ┆ P060101005 ┆ 170    │
│ 20190205   ┆ ZZ000000000000 ┆ P050301001 ┆ 25     │
│ 20180821   ┆ CS025415000050 ┆ P060102007 ┆ 90     │
│ 20190605   ┆ CS003515000195 ┆ P050102002 ┆ 138    │
│ 20181205   ┆ CS024514000042 ┆ P080101005 ┆ 30     │
│ 20190922   ┆ CS040415000178 ┆ P070501004 ┆ 128    │
│ 20170504   ┆ ZZ000000000000 ┆ P071302010 ┆ 770    │
│ 20191010   ┆ CS027514000015 ┆ P071101003 ┆ 680    │
└────────────┴────────────────┴────────────┴────────┘

---
> P-004: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [5]:
df_receipt.select(["sales_ymd", "customer_id", "product_cd", "amount"]).filter(pl.col("customer_id") == "CS018205000001")

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ 20190216  ┆ CS018205000001 ┆ P071005024 ┆ 102    │
│ …         ┆ …              ┆ …          ┆ …      │
│ 20190924  ┆ CS018205000001 ┆ P060805001 ┆ 495    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

---
> P-005: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [6]:
df_receipt \
    .select(["sales_ymd", "customer_id", "product_cd", "amount"]) \
    .filter((pl.col("customer_id") == "CS018205000001") & (pl.col("amount") >= 1000))

shape: (3, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

---
> P-006: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [7]:
df_receipt \
    .select(["sales_ymd", "customer_id", "product_cd", "quantity", "amount"]) \
    .filter((pl.col("customer_id") == "CS018205000001") & ((pl.col("amount") >= 1000) | (pl.col("quantity") >= 5)))

shape: (5, 5)
┌───────────┬────────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64      ┆ i64    │
╞═══════════╪════════════════╪════════════╪══════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 1        ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 6        ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 5        ┆ 990    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 1        ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1        ┆ 1100   │
└───────────┴────────────────┴────────────┴──────────┴────────┘

---
> P-007: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [8]:
df_receipt \
    .select(["sales_ymd", "customer_id", "product_cd", "amount"]) \
    .filter((pl.col("customer_id") == "CS018205000001") & (pl.col("amount") >= 1000) & (pl.col("amount") <= 2000))

shape: (1, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
└───────────┴────────────────┴────────────┴────────┘

---
> P-008: レシート明細データ（df_receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [9]:
df_receipt \
    .select(["sales_ymd", "customer_id", "product_cd", "amount"]) \
    .filter((pl.col("customer_id") == "CS018205000001") & (pl.col("product_cd") != "P071401019"))

shape: (12, 4)
┌───────────┬────────────────┬────────────┬────────┐
│ sales_ymd ┆ customer_id    ┆ product_cd ┆ amount │
│ ---       ┆ ---            ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str        ┆ i64    │
╞═══════════╪════════════════╪════════════╪════════╡
│ 20180911  ┆ CS018205000001 ┆ P071401012 ┆ 2200   │
│ 20180414  ┆ CS018205000001 ┆ P060104007 ┆ 600    │
│ 20170614  ┆ CS018205000001 ┆ P050206001 ┆ 990    │
│ 20170614  ┆ CS018205000001 ┆ P060702015 ┆ 108    │
│ 20190216  ┆ CS018205000001 ┆ P071005024 ┆ 102    │
│ …         ┆ …              ┆ …          ┆ …      │
│ 20190924  ┆ CS018205000001 ┆ P060805001 ┆ 495    │
│ 20190226  ┆ CS018205000001 ┆ P071401020 ┆ 2200   │
│ 20180911  ┆ CS018205000001 ┆ P071401005 ┆ 1100   │
│ 20190216  ┆ CS018205000001 ┆ P040101002 ┆ 218    │
│ 20190924  ┆ CS018205000001 ┆ P091503001 ┆ 280    │
└───────────┴────────────────┴────────────┴────────┘

---
> P-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。
> 
> `df_store.query('not(prefecture_cd == "13" | floor_area > 900)')`

In [10]:
df_store.filter((pl.col("prefecture_cd") != 13) & (pl.col("floor_area") <= 900))

shape: (3, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S14046   ┆ 北山田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5916  ┆ 35.56189 ┆ 831.0     │
│          ┆            ┆           ┆           ┆   ┆ 049       ┆           ┆          ┆           │
│ S14011   ┆ 日吉本町店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6316  ┆ 35.54655 ┆ 890.0     │
│          ┆            ┆           ┆           ┆   ┆ 033       ┆           ┆          ┆           │
│ S12013   ┆ 習志野店   ┆ 12        ┆ 千葉県    ┆ … ┆ 047-123-4 ┆ 140.022   ┆ 35.66122 ┆ 808.0     │
│          ┆            ┆           ┆           ┆   ┆ 002       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---
> P-010: 店舗データ（df_store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件表示せよ。

In [11]:
df_store.filter(pl.col("store_cd").str.starts_with("S14")).head(10)

shape: (10, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S14010   ┆ 菊名店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0    │
│          ┆            ┆           ┆           ┆   ┆ 032       ┆           ┆          ┆           │
│ S14033   ┆ 阿久和店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0    │
│          ┆            ┆           ┆           ┆   ┆ 043       ┆           ┆          ┆           │
│ S14036   ┆ 相模原中央 ┆ 14        ┆ 神奈川県  ┆ … ┆ 042-123-4 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0    │
│          ┆ 店         ┆           ┆           ┆   ┆ 045       ┆           ┆          ┆           │
│ S14040   ┆ 長津田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0    │
│          ┆            ┆           ┆           ┆   ┆ 046       ┆           ┆          ┆           │
│ S14050   ┆ 阿久和西店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0    │
│          ┆            ┆           ┆           ┆   ┆ 053       ┆           ┆          ┆           │
│ S14028   ┆ 二ツ橋店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4963  ┆ 35.46304 ┆ 1574.0    │
│          ┆            ┆           ┆           ┆   ┆ 042       ┆           ┆          ┆           │
│ S14012   ┆ 本牧和田店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6582  ┆ 35.42156 ┆ 1341.0    │
│          ┆            ┆           ┆           ┆   ┆ 034       ┆           ┆          ┆           │
│ S14046   ┆ 北山田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5916  ┆ 35.56189 ┆ 831.0     │
│          ┆            ┆           ┆           ┆   ┆ 049       ┆           ┆          ┆           │
│ S14022   ┆ 逗子店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 046-123-4 ┆ 139.5789  ┆ 35.29642 ┆ 1838.0    │
│          ┆            ┆           ┆           ┆   ┆ 036       ┆           ┆          ┆           │
│ S14011   ┆ 日吉本町店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6316  ┆ 35.54655 ┆ 890.0     │
│          ┆            ┆           ┆           ┆   ┆ 033       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---
> P-011: 顧客データ（df_customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。

In [12]:
df_customer.filter(pl.col("customer_id").str.ends_with("1")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS03761300 ┆ 六角 雅彦  ┆ 9         ┆ 不明   ┆ … ┆ 東京都江  ┆ S13037    ┆ 20150414  ┆ 0-0000000 │
│ 0071       ┆            ┆           ┆        ┆   ┆ 東区南砂* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02881100 ┆ 堀井       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14028    ┆ 20160115  ┆ 0-0000000 │
│ 0001       ┆ かおり     ┆           ┆        ┆   ┆ 横浜市泉  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 区和泉町* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS04041200 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14040    ┆ 20151101  ┆ 1-2009102 │
│ 0191       ┆            ┆           ┆        ┆   ┆ 横浜市緑  ┆           ┆           ┆ 5-4       │
│            ┆            ┆           ┆        ┆   ┆ 区北八朔  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS02831400 ┆ 小菅       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14028    ┆ 20151123  ┆ 1-2008042 │
│ 0011       ┆ あおい     ┆           ┆        ┆   ┆ 横浜市瀬  ┆           ┆           ┆ 6-5       │
│            ┆            ┆           ┆        ┆   ┆ 谷区宮沢* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03921200 ┆ 藤島       ┆ 1         ┆ 女性   ┆ … ┆ 東京都杉  ┆ S13039    ┆ 20171121  ┆ 1-2010021 │
│ 0051       ┆ 恵梨香     ┆           ┆        ┆   ┆ 並区阿佐  ┆           ┆           ┆ 5-4       │
│            ┆            ┆           ┆        ┆   ┆ 谷北***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS01541200 ┆ 松居 奈月  ┆ 1         ┆ 女性   ┆ … ┆ 東京都江  ┆ S13015    ┆ 20150629  ┆ 0-0000000 │
│ 0111       ┆            ┆           ┆        ┆   ┆ 東区亀戸* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00470200 ┆ 野島 洋    ┆ 0         ┆ 男性   ┆ … ┆ 東京都練  ┆ S13004    ┆ 20170218  ┆ 0-0000000 │
│ 0041       ┆            ┆           ┆        ┆   ┆ 馬区向山* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS04151500 ┆ 栗田 千夏  ┆ 1         ┆ 女性   ┆ … ┆ 東京都多  ┆ S13041    ┆ 20160422  ┆ E-2010080 │
│ 0001       ┆            ┆           ┆        ┆   ┆ 摩市和田* ┆           ┆           ┆ 3-F       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02931300 ┆ 北条       ┆ 1         ┆ 女性   ┆ … ┆ 千葉県浦  ┆ S12029    ┆ 20180810  ┆ 0-0000000 │
│ 0221       ┆ ひかり     ┆           ┆        ┆   ┆ 安市美浜* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03431200 ┆ 望月 奈央  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14034    ┆ 20160106  ┆ 0-0000000 │
│ 0071       ┆            ┆           ┆        ┆   ┆ 川崎市高  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 津区久末* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-012: 店舗データ（df_store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。

In [13]:
df_store.filter(pl.col("address").str.contains("横浜市"))

shape: (11, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S14010   ┆ 菊名店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0    │
│          ┆            ┆           ┆           ┆   ┆ 032       ┆           ┆          ┆           │
│ S14033   ┆ 阿久和店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0    │
│          ┆            ┆           ┆           ┆   ┆ 043       ┆           ┆          ┆           │
│ S14040   ┆ 長津田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4994  ┆ 35.52398 ┆ 1548.0    │
│          ┆            ┆           ┆           ┆   ┆ 046       ┆           ┆          ┆           │
│ S14050   ┆ 阿久和西店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1830.0    │
│          ┆            ┆           ┆           ┆   ┆ 053       ┆           ┆          ┆           │
│ S14028   ┆ 二ツ橋店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4963  ┆ 35.46304 ┆ 1574.0    │
│          ┆            ┆           ┆           ┆   ┆ 042       ┆           ┆          ┆           │
│ …        ┆ …          ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ S14046   ┆ 北山田店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5916  ┆ 35.56189 ┆ 831.0     │
│          ┆            ┆           ┆           ┆   ┆ 049       ┆           ┆          ┆           │
│ S14011   ┆ 日吉本町店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6316  ┆ 35.54655 ┆ 890.0     │
│          ┆            ┆           ┆           ┆   ┆ 033       ┆           ┆          ┆           │
│ S14048   ┆ 中川中央店 ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5758  ┆ 35.54912 ┆ 1657.0    │
│          ┆            ┆           ┆           ┆   ┆ 051       ┆           ┆          ┆           │
│ S14042   ┆ 新山下店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6593  ┆ 35.43894 ┆ 1044.0    │
│          ┆            ┆           ┆           ┆   ┆ 047       ┆           ┆          ┆           │
│ S14006   ┆ 葛が谷店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0    │
│          ┆            ┆           ┆           ┆   ┆ 031       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---
> P-013: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示せよ。

In [14]:
df_customer.filter(pl.col("status_cd").str.contains(r"^[A-F]")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS03141500 ┆ 宇多田     ┆ 1         ┆ 女性   ┆ … ┆ 東京都渋  ┆ S13031    ┆ 20150529  ┆ D-2010032 │
│ 0172       ┆ 貴美子     ┆           ┆        ┆   ┆ 谷区代々  ┆           ┆           ┆ 5-C       │
│            ┆            ┆           ┆        ┆   ┆ 木******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01541400 ┆ 奥野 陽子  ┆ 1         ┆ 女性   ┆ … ┆ 東京都江  ┆ S13015    ┆ 20150722  ┆ B-2010060 │
│ 0103       ┆            ┆           ┆        ┆   ┆ 東区北砂* ┆           ┆           ┆ 9-B       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS01121500 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14011    ┆ 20150228  ┆ C-2010042 │
│ 0048       ┆            ┆           ┆        ┆   ┆ 横浜市港  ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ 北区日吉  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS02941500 ┆ 梅田 里穂  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県浦  ┆ S12029    ┆ 20150610  ┆ D-2010091 │
│ 0023       ┆            ┆           ┆        ┆   ┆ 安市富士  ┆           ┆           ┆ 8-E       │
│            ┆            ┆           ┆        ┆   ┆ 見******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03541500 ┆ 寺沢 真希  ┆ 9         ┆ 不明   ┆ … ┆ 東京都世  ┆ S13035    ┆ 20141220  ┆ F-2010102 │
│ 0029       ┆            ┆           ┆        ┆   ┆ 田谷区玉  ┆           ┆           ┆ 9-F       │
│            ┆            ┆           ┆        ┆   ┆ 川台***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS03141500 ┆ 宇野       ┆ 1         ┆ 女性   ┆ … ┆ 東京都渋  ┆ S13031    ┆ 20150201  ┆ F-2010051 │
│ 0106       ┆ 由美子     ┆           ┆        ┆   ┆ 谷区代々  ┆           ┆           ┆ 1-E       │
│            ┆            ┆           ┆        ┆   ┆ 木******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS02921500 ┆ 石倉 美帆  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県浦  ┆ S12029    ┆ 20150708  ┆ B-2010082 │
│ 0025       ┆            ┆           ┆        ┆   ┆ 安市今川* ┆           ┆           ┆ 0-C       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03360500 ┆ 猪股 雄太  ┆ 0         ┆ 男性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150425  ┆ F-2010091 │
│ 0005       ┆            ┆           ┆        ┆   ┆ 横浜市瀬  ┆           ┆           ┆ 7-E       │
│            ┆            ┆           ┆        ┆   ┆ 谷区瀬谷* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS03341500 ┆ 板垣       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150712  ┆ F-2010032 │
│ 0229       ┆ 菜々美     ┆           ┆        ┆   ┆ 横浜市瀬  ┆           ┆           ┆ 6-E       │
│            ┆            ┆           ┆        ┆   ┆ 谷区二ツ  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 橋町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS00841500 ┆ 黒谷 麻緒  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13008    ┆ 20150829  ┆ F-2010062 │
│ 0145       ┆            ┆           ┆        ┆   ┆ 田谷区喜  ┆           ┆           ┆ 2-F       │
│            ┆            ┆           ┆        ┆   ┆ 多見***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-014: 顧客データ（df_customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [15]:
df_customer.filter(pl.col("status_cd").str.contains(r"[1-9]$")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS00121500 ┆ 田崎 美紀  ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20170605  ┆ 6-2009092 │
│ 0145       ┆            ┆           ┆        ┆   ┆ 田区仲六  ┆           ┆           ┆ 9-2       │
│            ┆            ┆           ┆        ┆   ┆ 郷******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03351300 ┆ 安斎 遥    ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150728  ┆ 6-2008050 │
│ 0180       ┆            ┆           ┆        ┆   ┆ 横浜市旭  ┆           ┆           ┆ 6-5       │
│            ┆            ┆           ┆        ┆   ┆ 区善部町* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS01121500 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14011    ┆ 20150228  ┆ C-2010042 │
│ 0048       ┆            ┆           ┆        ┆   ┆ 横浜市港  ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ 北区日吉  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS04041200 ┆ 川井 郁恵  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14040    ┆ 20151101  ┆ 1-2009102 │
│ 0191       ┆            ┆           ┆        ┆   ┆ 横浜市緑  ┆           ┆           ┆ 5-4       │
│            ┆            ┆           ┆        ┆   ┆ 区北八朔  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00931500 ┆ 皆川 文世  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13009    ┆ 20150319  ┆ 5-2008032 │
│ 0023       ┆            ┆           ┆        ┆   ┆ 田谷区駒  ┆           ┆           ┆ 2-1       │
│            ┆            ┆           ┆        ┆   ┆ 沢******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01531500 ┆ 福士       ┆ 1         ┆ 女性   ┆ … ┆ 東京都江  ┆ S13015    ┆ 20141024  ┆ 4-2008021 │
│ 0033       ┆ 璃奈子     ┆           ┆        ┆   ┆ 東区塩浜* ┆           ┆           ┆ 9-3       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02351300 ┆ 神戸 そら  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14023    ┆ 20150915  ┆ 5-2010052 │
│ 0066       ┆            ┆           ┆        ┆   ┆ 川崎市川  ┆           ┆           ┆ 4-9       │
│            ┆            ┆           ┆        ┆   ┆ 崎区東田  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03551300 ┆ 市川 美帆  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13035    ┆ 20150227  ┆ 8-2010071 │
│ 0134       ┆            ┆           ┆        ┆   ┆ 田谷区桜* ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00151500 ┆ 高松 夏空  ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20160812  ┆ 1-2010080 │
│ 0263       ┆            ┆           ┆        ┆   ┆ 田区西蒲  ┆           ┆           ┆ 4-1       │
│            ┆            ┆           ┆        ┆   ┆ 田******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS04031400 ┆ 鶴田       ┆ 9         ┆ 不明   ┆ … ┆ 神奈川県  ┆ S14040    ┆ 20150122  ┆ 2-2008042 │
│ 0027       ┆ きみまろ   ┆           ┆        ┆   ┆ 横浜市緑  ┆           ┆           ┆ 6-4       │
│            ┆            ┆           ┆        ┆   ┆ 区長津田* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-015: 顧客データ（df_customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [16]:
df_customer.filter(pl.col("status_cd").str.contains(r"^[A-F].*[1-9]$")).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS01121500 ┆ 芦田 沙耶  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14011    ┆ 20150228  ┆ C-2010042 │
│ 0048       ┆            ┆           ┆        ┆   ┆ 横浜市港  ┆           ┆           ┆ 1-9       │
│            ┆            ┆           ┆        ┆   ┆ 北区日吉  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS02251300 ┆ 島村       ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14022    ┆ 20150320  ┆ A-2009111 │
│ 0105       ┆ 貴美子     ┆           ┆        ┆   ┆ 逗子市山  ┆           ┆           ┆ 5-7       │
│            ┆            ┆           ┆        ┆   ┆ の根***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS00151500 ┆ 水野 陽子  ┆ 9         ┆ 不明   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20150614  ┆ A-2010072 │
│ 0096       ┆            ┆           ┆        ┆   ┆ 田区蒲田  ┆           ┆           ┆ 4-7       │
│            ┆            ┆           ┆        ┆   ┆ 本町***** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *****     ┆           ┆           ┆           │
│ CS01361500 ┆ 西脇 季衣  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県千  ┆ S12013    ┆ 20150128  ┆ B-2010032 │
│ 0053       ┆            ┆           ┆        ┆   ┆ 葉市美浜  ┆           ┆           ┆ 9-6       │
│            ┆            ┆           ┆        ┆   ┆ 区幕張西* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02041200 ┆ 小宮 薫    ┆ 1         ┆ 女性   ┆ … ┆ 東京都板  ┆ S13020    ┆ 20150822  ┆ B-2008102 │
│ 0161       ┆            ┆           ┆        ┆   ┆ 橋区東坂  ┆           ┆           ┆ 1-3       │
│            ┆            ┆           ┆        ┆   ┆ 下******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00121500 ┆ 竹中       ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20170315  ┆ A-2010021 │
│ 0097       ┆ あさみ     ┆           ┆        ┆   ┆ 田区多摩  ┆           ┆           ┆ 1-2       │
│            ┆            ┆           ┆        ┆   ┆ 川******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03521200 ┆ 内村       ┆ 1         ┆ 女性   ┆ … ┆ 東京都目  ┆ S13035    ┆ 20151013  ┆ B-2010101 │
│ 0007       ┆ 恵梨香     ┆           ┆        ┆   ┆ 黒区八雲* ┆           ┆           ┆ 8-6       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00251500 ┆ 野田 コウ  ┆ 1         ┆ 女性   ┆ … ┆ 東京都国  ┆ S13002    ┆ 20160410  ┆ C-2010012 │
│ 0386       ┆            ┆           ┆        ┆   ┆ 分寺市西  ┆           ┆           ┆ 7-8       │
│            ┆            ┆           ┆        ┆   ┆ 恋ケ窪*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS00161500 ┆ 稲垣       ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20170403  ┆ A-2010010 │
│ 0372       ┆ 寿々花     ┆           ┆        ┆   ┆ 田区南蒲  ┆           ┆           ┆ 4-1       │
│            ┆            ┆           ┆        ┆   ┆ 田******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS03251200 ┆ 松井 知世  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S13032    ┆ 20150727  ┆ A-2010010 │
│ 0121       ┆            ┆           ┆        ┆   ┆ 川崎市川  ┆           ┆           ┆ 3-5       │
│            ┆            ┆           ┆        ┆   ┆ 崎区富士  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 見******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-016: 店舗データ（df_store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [17]:
df_store.filter(pl.col("tel_no").str.contains(r"^\d{3}-\d{3}-\d{4}$"))

shape: (34, 10)
┌──────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬──────────┬───────────┐
│ store_cd ┆ store_name ┆ prefectur ┆ prefectur ┆ … ┆ tel_no    ┆ longitude ┆ latitude ┆ floor_are │
│ ---      ┆ ---        ┆ e_cd      ┆ e         ┆   ┆ ---       ┆ ---       ┆ ---      ┆ a         │
│ str      ┆ str        ┆ ---       ┆ ---       ┆   ┆ str       ┆ f64       ┆ f64      ┆ ---       │
│          ┆            ┆ i64       ┆ str       ┆   ┆           ┆           ┆          ┆ f64       │
╞══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪══════════╪═══════════╡
│ S12014   ┆ 千草台店   ┆ 12        ┆ 千葉県    ┆ … ┆ 043-123-4 ┆ 140.118   ┆ 35.63559 ┆ 1698.0    │
│          ┆            ┆           ┆           ┆   ┆ 003       ┆           ┆          ┆           │
│ S13002   ┆ 国分寺店   ┆ 13        ┆ 東京都    ┆ … ┆ 042-123-4 ┆ 139.4802  ┆ 35.70566 ┆ 1735.0    │
│          ┆            ┆           ┆           ┆   ┆ 008       ┆           ┆          ┆           │
│ S14010   ┆ 菊名店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.6326  ┆ 35.50049 ┆ 1732.0    │
│          ┆            ┆           ┆           ┆   ┆ 032       ┆           ┆          ┆           │
│ S14033   ┆ 阿久和店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.4961  ┆ 35.45918 ┆ 1495.0    │
│          ┆            ┆           ┆           ┆   ┆ 043       ┆           ┆          ┆           │
│ S14036   ┆ 相模原中央 ┆ 14        ┆ 神奈川県  ┆ … ┆ 042-123-4 ┆ 139.3716  ┆ 35.57327 ┆ 1679.0    │
│          ┆ 店         ┆           ┆           ┆   ┆ 045       ┆           ┆          ┆           │
│ …        ┆ …          ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …        ┆ …         │
│ S14045   ┆ 厚木店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 046-123-4 ┆ 139.3651  ┆ 35.44182 ┆ 980.0     │
│          ┆            ┆           ┆           ┆   ┆ 048       ┆           ┆          ┆           │
│ S12029   ┆ 東野店     ┆ 12        ┆ 千葉県    ┆ … ┆ 047-123-4 ┆ 139.8968  ┆ 35.65086 ┆ 1101.0    │
│          ┆            ┆           ┆           ┆   ┆ 004       ┆           ┆          ┆           │
│ S12053   ┆ 高洲店     ┆ 12        ┆ 千葉県    ┆ … ┆ 047-123-4 ┆ 139.9176  ┆ 35.63755 ┆ 1555.0    │
│          ┆            ┆           ┆           ┆   ┆ 006       ┆           ┆          ┆           │
│ S14024   ┆ 三田店     ┆ 14        ┆ 神奈川県  ┆ … ┆ 044-123-4 ┆ 139.5424  ┆ 35.6077  ┆ 972.0     │
│          ┆            ┆           ┆           ┆   ┆ 038       ┆           ┆          ┆           │
│ S14006   ┆ 葛が谷店   ┆ 14        ┆ 神奈川県  ┆ … ┆ 045-123-4 ┆ 139.5633  ┆ 35.53573 ┆ 1886.0    │
│          ┆            ┆           ┆           ┆   ┆ 031       ┆           ┆          ┆           │
└──────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴──────────┴───────────┘

---
> P-017: 顧客データ（df_customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示せよ。

In [18]:
df_customer.sort("birth_day").head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS00381300 ┆ 村山       ┆ 1         ┆ 女性   ┆ … ┆ 東京都調  ┆ S13003    ┆ 20160214  ┆ 0-0000000 │
│ 0014       ┆ 菜々美     ┆           ┆        ┆   ┆ 布市菊野  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 台******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS02681300 ┆ 吉村 朝陽  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14026    ┆ 20150723  ┆ 0-0000000 │
│ 0004       ┆            ┆           ┆        ┆   ┆ 藤沢市辻  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 堂元町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS01881100 ┆ 熊沢 美里  ┆ 1         ┆ 女性   ┆ … ┆ 東京都清  ┆ S13018    ┆ 20150403  ┆ 0-0000000 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 瀬市野塩* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02780300 ┆ 内村 拓郎  ┆ 0         ┆ 男性   ┆ … ┆ 神奈川県  ┆ S14027    ┆ 20151227  ┆ 0-0000000 │
│ 0004       ┆            ┆           ┆        ┆   ┆ 藤沢市鵠  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 沼藤が谷* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS01380100 ┆ 天野 拓郎  ┆ 0         ┆ 男性   ┆ … ┆ 千葉県船  ┆ S12013    ┆ 20160120  ┆ 0-0000000 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 橋市前原  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 東******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00181400 ┆ 鶴田 里穂  ┆ 1         ┆ 女性   ┆ … ┆ 東京都大  ┆ S13001    ┆ 20161012  ┆ A-2009041 │
│ 0022       ┆            ┆           ┆        ┆   ┆ 田区南六  ┆           ┆           ┆ 5-7       │
│            ┆            ┆           ┆        ┆   ┆ 郷******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01681500 ┆ 山元 美紀  ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13016    ┆ 20150629  ┆ C-2009092 │
│ 0002       ┆            ┆           ┆        ┆   ┆ 金井市桜  ┆           ┆           ┆ 3-C       │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00981500 ┆ 中田 里穂  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13009    ┆ 20150421  ┆ D-2009102 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 田谷区新  ┆           ┆           ┆ 1-E       │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01281300 ┆ 宇野 南朋  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14012    ┆ 20150712  ┆ 0-0000000 │
│ 0013       ┆            ┆           ┆        ┆   ┆ 横浜市中  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 区本牧町* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS00581300 ┆ 金谷       ┆ 1         ┆ 女性   ┆ … ┆ 東京都中  ┆ S13005    ┆ 20150506  ┆ 0-0000000 │
│ 0015       ┆ 恵梨香     ┆           ┆        ┆   ┆ 野区鷺宮* ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-018: 顧客データ（df_customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示せよ。

In [19]:
df_customer.sort("birth_day", descending=True).head(10)

shape: (10, 11)
┌────────────┬────────────┬───────────┬────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ customer_i ┆ customer_n ┆ gender_cd ┆ gender ┆ … ┆ address   ┆ applicati ┆ applicati ┆ status_cd │
│ d          ┆ ame        ┆ ---       ┆ ---    ┆   ┆ ---       ┆ on_store_ ┆ on_date   ┆ ---       │
│ ---        ┆ ---        ┆ i64       ┆ str    ┆   ┆ str       ┆ cd        ┆ ---       ┆ str       │
│ str        ┆ str        ┆           ┆        ┆   ┆           ┆ ---       ┆ i64       ┆           │
│            ┆            ┆           ┆        ┆   ┆           ┆ str       ┆           ┆           │
╞════════════╪════════════╪═══════════╪════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ CS03511400 ┆ 大村 美里  ┆ 1         ┆ 女性   ┆ … ┆ 東京都世  ┆ S13035    ┆ 20150619  ┆ 6-2009120 │
│ 0004       ┆            ┆           ┆        ┆   ┆ 田谷区桜* ┆           ┆           ┆ 5-6       │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
│ CS02210300 ┆ 福山       ┆ 9         ┆ 不明   ┆ … ┆ 神奈川県  ┆ S14022    ┆ 20160909  ┆ 0-0000000 │
│ 0002       ┆ はじめ     ┆           ┆        ┆   ┆ 逗子市逗  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 子******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00211300 ┆ 柴田       ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13002    ┆ 20160304  ┆ 0-0000000 │
│ 0009       ┆ 真悠子     ┆           ┆        ┆   ┆ 金井市貫  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 井南町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS00411500 ┆ 松井 京子  ┆ 1         ┆ 女性   ┆ … ┆ 東京都中  ┆ S13004    ┆ 20161120  ┆ 1-2008123 │
│ 0014       ┆            ┆           ┆        ┆   ┆ 野区上鷺  ┆           ┆           ┆ 1-1       │
│            ┆            ┆           ┆        ┆   ┆ 宮******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00211400 ┆ 山内 遥    ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13002    ┆ 20160920  ┆ 6-2010051 │
│ 0010       ┆            ┆           ┆        ┆   ┆ 金井市貫  ┆           ┆           ┆ 0-1       │
│            ┆            ┆           ┆        ┆   ┆ 井北町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS02511500 ┆ 小柳 夏希  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14025    ┆ 20160116  ┆ D-2010091 │
│ 0002       ┆            ┆           ┆        ┆   ┆ 横浜市泉  ┆           ┆           ┆ 3-D       │
│            ┆            ┆           ┆        ┆   ┆ 区上飯田  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00211300 ┆ 広末       ┆ 1         ┆ 女性   ┆ … ┆ 東京都小  ┆ S13002    ┆ 20171030  ┆ 0-0000000 │
│ 0025       ┆ まなみ     ┆           ┆        ┆   ┆ 金井市貫  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 井北町*** ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ *******   ┆           ┆           ┆           │
│ CS03311200 ┆ 長野 美紀  ┆ 1         ┆ 女性   ┆ … ┆ 神奈川県  ┆ S14033    ┆ 20150606  ┆ 0-0000000 │
│ 0003       ┆            ┆           ┆        ┆   ┆ 横浜市戸  ┆           ┆           ┆ 0-0       │
│            ┆            ┆           ┆        ┆   ┆ 塚区名瀬  ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ 町******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS00711500 ┆ 福岡 瞬    ┆ 1         ┆ 女性   ┆ … ┆ 千葉県佐  ┆ S12007    ┆ 20151118  ┆ F-2010101 │
│ 0006       ┆            ┆           ┆        ┆   ┆ 倉市西志  ┆           ┆           ┆ 6-F       │
│            ┆            ┆           ┆        ┆   ┆ 津******* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ***       ┆           ┆           ┆           │
│ CS01411300 ┆ 矢口 莉緒  ┆ 1         ┆ 女性   ┆ … ┆ 千葉県千  ┆ S12014    ┆ 20150622  ┆ 3-2009110 │
│ 0008       ┆            ┆           ┆        ┆   ┆ 葉市中央  ┆           ┆           ┆ 8-6       │
│            ┆            ┆           ┆        ┆   ┆ 区東千葉* ┆           ┆           ┆           │
│            ┆            ┆           ┆        ┆   ┆ ********* ┆           ┆           ┆           │
└────────────┴────────────┴───────────┴────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-019: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [20]:
df_receipt

shape: (104_681, 9)
┌───────────┬────────────┬──────────┬────────────┬───┬────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epoc ┆ store_cd ┆ receipt_no ┆ … ┆ customer_i ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ h          ┆ ---      ┆ ---        ┆   ┆ d          ┆ ---        ┆ ---      ┆ ---    │
│ i64       ┆ ---        ┆ str      ┆ i64        ┆   ┆ ---        ┆ str        ┆ i64      ┆ i64    │
│           ┆ i64        ┆          ┆            ┆   ┆ str        ┆            ┆          ┆        │
╞═══════════╪════════════╪══════════╪════════════╪═══╪════════════╪════════════╪══════════╪════════╡
│ 20181103  ┆ 1541203200 ┆ S14006   ┆ 112        ┆ … ┆ CS00621400 ┆ P070305012 ┆ 1        ┆ 158    │
│           ┆            ┆          ┆            ┆   ┆ 0001       ┆            ┆          ┆        │
│ 20181118  ┆ 1542499200 ┆ S13008   ┆ 1132       ┆ … ┆ CS00841500 ┆ P070701017 ┆ 1        ┆ 81     │
│           ┆            ┆          ┆            ┆   ┆ 0097       ┆            ┆          ┆        │
│ 20170712  ┆ 1499817600 ┆ S14028   ┆ 1102       ┆ … ┆ CS02841400 ┆ P060101005 ┆ 1        ┆ 170    │
│           ┆            ┆          ┆            ┆   ┆ 0014       ┆            ┆          ┆        │
│ 20190205  ┆ 1549324800 ┆ S14042   ┆ 1132       ┆ … ┆ ZZ00000000 ┆ P050301001 ┆ 1        ┆ 25     │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20180821  ┆ 1534809600 ┆ S14025   ┆ 1102       ┆ … ┆ CS02541500 ┆ P060102007 ┆ 1        ┆ 90     │
│           ┆            ┆          ┆            ┆   ┆ 0050       ┆            ┆          ┆        │
│ …         ┆ …          ┆ …        ┆ …          ┆ … ┆ …          ┆ …          ┆ …        ┆ …      │
│ 20180221  ┆ 1519171200 ┆ S13043   ┆ 1132       ┆ … ┆ ZZ00000000 ┆ P050101001 ┆ 1        ┆ 40     │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20190911  ┆ 1568160000 ┆ S14047   ┆ 1132       ┆ … ┆ ZZ00000000 ┆ P071006005 ┆ 1        ┆ 218    │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
│ 20170311  ┆ 1489190400 ┆ S14040   ┆ 1122       ┆ … ┆ CS04051300 ┆ P050405003 ┆ 1        ┆ 168    │
│           ┆            ┆          ┆            ┆   ┆ 0195       ┆            ┆          ┆        │
│ 20170331  ┆ 1490918400 ┆ S13002   ┆ 1142       ┆ … ┆ CS00251300 ┆ P060303001 ┆ 1        ┆ 148    │
│           ┆            ┆          ┆            ┆   ┆ 0049       ┆            ┆          ┆        │
│ 20190423  ┆ 1555977600 ┆ S13016   ┆ 1102       ┆ … ┆ ZZ00000000 ┆ P050601001 ┆ 1        ┆ 138    │
│           ┆            ┆          ┆            ┆   ┆ 0000       ┆            ┆          ┆        │
└───────────┴────────────┴──────────┴────────────┴───┴────────────┴────────────┴──────────┴────────┘

---
> P-020: レシート明細データ（df_receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [21]:
df_receipt.select([
    pl.col("customer_id"),
    pl.col("amount"),
    pl.col("amount").rank(method="min", descending=True).alias("ranking")
]).sort("ranking").head(10)

shape: (10, 3)
┌────────────────┬────────┬─────────┐
│ customer_id    ┆ amount ┆ ranking │
│ ---            ┆ ---    ┆ ---     │
│ str            ┆ i64    ┆ u32     │
╞════════════════╪════════╪═════════╡
│ CS011415000006 ┆ 10925  ┆ 1       │
│ ZZ000000000000 ┆ 6800   ┆ 2       │
│ CS028605000002 ┆ 5780   ┆ 3       │
│ CS015515000034 ┆ 5480   ┆ 4       │
│ ZZ000000000000 ┆ 5480   ┆ 4       │
│ ZZ000000000000 ┆ 5480   ┆ 4       │
│ ZZ000000000000 ┆ 5440   ┆ 7       │
│ CS021515000089 ┆ 5440   ┆ 7       │
│ CS015515000083 ┆ 5280   ┆ 9       │
│ CS017414000114 ┆ 5280   ┆ 9       │
└────────────────┴────────┴─────────┘

---
> P-021: レシート明細データ（df_receipt）に対し、件数をカウントせよ。

In [22]:
df_receipt.count()

shape: (1, 9)
┌───────────┬────────────┬──────────┬────────────┬───┬────────────┬────────────┬──────────┬────────┐
│ sales_ymd ┆ sales_epoc ┆ store_cd ┆ receipt_no ┆ … ┆ customer_i ┆ product_cd ┆ quantity ┆ amount │
│ ---       ┆ h          ┆ ---      ┆ ---        ┆   ┆ d          ┆ ---        ┆ ---      ┆ ---    │
│ u32       ┆ ---        ┆ u32      ┆ u32        ┆   ┆ ---        ┆ u32        ┆ u32      ┆ u32    │
│           ┆ u32        ┆          ┆            ┆   ┆ u32        ┆            ┆          ┆        │
╞═══════════╪════════════╪══════════╪════════════╪═══╪════════════╪════════════╪══════════╪════════╡
│ 104681    ┆ 104681     ┆ 104681   ┆ 104681     ┆ … ┆ 104681     ┆ 104681     ┆ 104681   ┆ 104681 │
└───────────┴────────────┴──────────┴────────────┴───┴────────────┴────────────┴──────────┴────────┘

---
> P-022: レシート明細データ（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [23]:
df_receipt.select("customer_id").n_unique()

8307

---
> P-023: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [24]:
df_receipt.group_by("store_cd").sum().select("store_cd", "amount", "quantity")

shape: (52, 3)
┌──────────┬────────┬──────────┐
│ store_cd ┆ amount ┆ quantity │
│ ---      ┆ ---    ┆ ---      │
│ str      ┆ i64    ┆ i64      │
╞══════════╪════════╪══════════╡
│ S12013   ┆ 787513 ┆ 2425     │
│ S14040   ┆ 701858 ┆ 2233     │
│ S14027   ┆ 714550 ┆ 2303     │
│ S14011   ┆ 805724 ┆ 2434     │
│ S14036   ┆ 203694 ┆ 635      │
│ …        ┆ …      ┆ …        │
│ S14046   ┆ 412646 ┆ 1354     │
│ S14047   ┆ 338329 ┆ 1041     │
│ S14049   ┆ 230808 ┆ 788      │
│ S13032   ┆ 790501 ┆ 2491     │
│ S13002   ┆ 727821 ┆ 2340     │
└──────────┴────────┴──────────┘

---
> P-024: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）を求め、10件表示せよ。

In [25]:
df_receipt.group_by("customer_id").agg(
    pl.col("sales_ymd").max()
).sort("customer_id").head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS001113000004 ┆ 20190308  │
│ CS001114000005 ┆ 20190731  │
│ CS001115000010 ┆ 20190405  │
│ CS001205000004 ┆ 20190625  │
│ CS001205000006 ┆ 20190224  │
│ CS001211000025 ┆ 20190322  │
│ CS001212000027 ┆ 20170127  │
│ CS001212000031 ┆ 20180906  │
│ CS001212000046 ┆ 20170811  │
│ CS001212000070 ┆ 20191018  │
└────────────────┴───────────┘

---
> P-025: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も古い売上年月日（sales_ymd）を求め、10件表示せよ。

In [26]:
df_receipt.group_by("customer_id").agg(
    pl.col("sales_ymd").min()
).sort("customer_id").head(10)

shape: (10, 2)
┌────────────────┬───────────┐
│ customer_id    ┆ sales_ymd │
│ ---            ┆ ---       │
│ str            ┆ i64       │
╞════════════════╪═══════════╡
│ CS001113000004 ┆ 20190308  │
│ CS001114000005 ┆ 20180503  │
│ CS001115000010 ┆ 20171228  │
│ CS001205000004 ┆ 20170914  │
│ CS001205000006 ┆ 20180207  │
│ CS001211000025 ┆ 20190322  │
│ CS001212000027 ┆ 20170127  │
│ CS001212000031 ┆ 20180906  │
│ CS001212000046 ┆ 20170811  │
│ CS001212000070 ┆ 20191018  │
└────────────────┴───────────┘

---
> P-026: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）と古い売上年月日を求め、両者が異なるデータを10件表示せよ。

In [27]:
df_receipt.group_by("customer_id").agg(
    pl.col("sales_ymd").min().alias("min_sales_ymd"),
    pl.col("sales_ymd").max().alias("max_sales_ymd")
).filter(pl.col("max_sales_ymd") != pl.col("min_sales_ymd")).head(10)

shape: (10, 3)
┌────────────────┬───────────────┬───────────────┐
│ customer_id    ┆ min_sales_ymd ┆ max_sales_ymd │
│ ---            ┆ ---           ┆ ---           │
│ str            ┆ i64           ┆ i64           │
╞════════════════╪═══════════════╪═══════════════╡
│ CS034511000047 ┆ 20180629      ┆ 20190503      │
│ CS034515000045 ┆ 20170629      ┆ 20190303      │
│ CS035512000059 ┆ 20180106      ┆ 20190712      │
│ CS023415000150 ┆ 20170216      ┆ 20190525      │
│ CS028515000047 ┆ 20170102      ┆ 20171206      │
│ CS005415000423 ┆ 20190414      ┆ 20190528      │
│ CS044415000001 ┆ 20170928      ┆ 20191027      │
│ CS018415000147 ┆ 20170125      ┆ 20190611      │
│ CS031513000048 ┆ 20171208      ┆ 20190405      │
│ CS029414000042 ┆ 20170501      ┆ 20191009      │
└────────────────┴───────────────┴───────────────┘

---
> P-027: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

In [28]:
df_receipt.group_by("store_cd").agg(
    pl.col("amount").mean()
).sort("amount", descending=True).head(5)

shape: (5, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S13052   ┆ 402.86747  │
│ S13015   ┆ 351.11196  │
│ S13003   ┆ 350.915519 │
│ S14010   ┆ 348.791262 │
│ S13001   ┆ 348.470386 │
└──────────┴────────────┘

---
> P-028: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

In [29]:
df_receipt.group_by("store_cd").agg(
    pl.col("amount").median()
).sort("amount", descending=True).head(5)

shape: (5, 2)
┌──────────┬────────┐
│ store_cd ┆ amount │
│ ---      ┆ ---    │
│ str      ┆ f64    │
╞══════════╪════════╡
│ S13052   ┆ 190.0  │
│ S14010   ┆ 188.0  │
│ S14050   ┆ 185.0  │
│ S13003   ┆ 180.0  │
│ S14040   ┆ 180.0  │
└──────────┴────────┘

---
> P-029: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求め、10件表示させよ。

In [30]:
df_receipt.group_by("store_cd").agg(
    pl.col("product_cd").mode()
).select("store_cd", pl.col("product_cd").list.first()).head(10)

shape: (10, 2)
┌──────────┬────────────┐
│ store_cd ┆ product_cd │
│ ---      ┆ ---        │
│ str      ┆ str        │
╞══════════╪════════════╡
│ S14010   ┆ P060303001 │
│ S14036   ┆ P040503001 │
│ S12030   ┆ P060303001 │
│ S13039   ┆ P071401001 │
│ S13052   ┆ P050101001 │
│ S13038   ┆ P060303001 │
│ S13019   ┆ P071401001 │
│ S13020   ┆ P071401001 │
│ S14045   ┆ P060303001 │
│ S14012   ┆ P060303001 │
└──────────┴────────────┘

---
> P-030: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の分散を計算し、降順で5件表示せよ。

In [31]:
df_receipt.group_by("store_cd").agg(
    pl.col("amount").var(ddof=0)
).sort("amount", descending=True).head(5)

shape: (5, 2)
┌──────────┬───────────────┐
│ store_cd ┆ amount        │
│ ---      ┆ ---           │
│ str      ┆ f64           │
╞══════════╪═══════════════╡
│ S13052   ┆ 440088.701311 │
│ S14011   ┆ 306314.558164 │
│ S14034   ┆ 296920.081011 │
│ S13001   ┆ 295431.993329 │
│ S13015   ┆ 295294.361116 │
└──────────┴───────────────┘

---
> P-031: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標準偏差を計算し、降順で5件表示せよ。

TIPS:

PandasとNumpyでddofのデフォルト値が異なることに注意しましょう
```
Pandas：
DataFrame.std(self, axis=None, skipna=None, level=None, ddof=1, numeric_only=None, **kwargs)
Numpy:
numpy.std(a, axis=None, dtype=None, out=None, ddof=0, keepdims=)
```

In [32]:
df_receipt.group_by("store_cd").agg(
    pl.col("amount").std(ddof=0)
).sort("amount", descending=True).head(5)

shape: (5, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S13052   ┆ 663.391816 │
│ S14011   ┆ 553.456916 │
│ S14034   ┆ 544.903736 │
│ S13001   ┆ 543.536561 │
│ S13015   ┆ 543.409938 │
└──────────┴────────────┘

---
> P-032: レシート明細データ（df_receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [33]:
df_receipt.select([
    pl.col("amount").quantile(i).alias(str(i)) for i in [0, 0.25, 0.5, 0.75, 1]
])

shape: (1, 5)
┌──────┬───────┬───────┬───────┬─────────┐
│ 0    ┆ 0.25  ┆ 0.5   ┆ 0.75  ┆ 1       │
│ ---  ┆ ---   ┆ ---   ┆ ---   ┆ ---     │
│ f64  ┆ f64   ┆ f64   ┆ f64   ┆ f64     │
╞══════╪═══════╪═══════╪═══════╪═════════╡
│ 10.0 ┆ 102.0 ┆ 170.0 ┆ 288.0 ┆ 10925.0 │
└──────┴───────┴───────┴───────┴─────────┘

---
> P-033: レシート明細データ（df_receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [34]:
df_receipt.group_by("store_cd").agg(
    pl.col("amount").mean()
).filter(pl.col("amount") >= 330)

shape: (13, 2)
┌──────────┬────────────┐
│ store_cd ┆ amount     │
│ ---      ┆ ---        │
│ str      ┆ f64        │
╞══════════╪════════════╡
│ S14010   ┆ 348.791262 │
│ S13052   ┆ 402.86747  │
│ S12013   ┆ 330.19413  │
│ S13001   ┆ 348.470386 │
│ S14026   ┆ 332.340588 │
│ …        ┆ …          │
│ S13004   ┆ 330.943949 │
│ S13019   ┆ 330.208616 │
│ S14047   ┆ 330.077073 │
│ S14045   ┆ 330.082073 │
│ S14011   ┆ 335.718333 │
└──────────┴────────────┘

---
> P-034: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

In [35]:
df_receipt.group_by("customer_id").agg(
    pl.col("amount").sum()
).filter(pl.col("customer_id").str.slice(0, 1) != "Z").select(pl.col("amount").sum())

shape: (1, 1)
┌──────────┐
│ amount   │
│ ---      │
│ i64      │
╞══════════╡
│ 21161547 │
└──────────┘

---
> P-035: レシート明細データ（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出し、10件表示せよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

In [36]:
df_receipt.group_by("customer_id").agg(
    pl.col("amount").sum()
).filter(pl.col("customer_id").str.slice(0, 1) != "Z") \
 .filter(pl.col("amount") >= pl.col("amount").mean()).head(10)

shape: (10, 2)
┌────────────────┬────────┐
│ customer_id    ┆ amount │
│ ---            ┆ ---    │
│ str            ┆ i64    │
╞════════════════╪════════╡
│ CS022515000226 ┆ 8556   │
│ CS012415000043 ┆ 14363  │
│ CS010415000318 ┆ 6527   │
│ CS005605000016 ┆ 5294   │
│ CS008514000086 ┆ 2986   │
│ CS029515000076 ┆ 5612   │
│ CS022414000018 ┆ 7218   │
│ CS038215000047 ┆ 2951   │
│ CS017412000064 ┆ 4755   │
│ CS026415000123 ┆ 4553   │
└────────────────┴────────┘

---
> P-036: レシート明細データ（df_receipt）と店舗データ（df_store）を内部結合し、レシート明細データの全項目と店舗データの店舗名（store_name）を10件表示せよ。

In [37]:
df_receipt.join(
    df_store.select(["store_cd", "store_name"]),
    on="store_cd"
).head(10)

shape: (10, 10)
┌───────────┬────────────┬──────────┬────────────┬───┬────────────┬──────────┬────────┬────────────┐
│ sales_ymd ┆ sales_epoc ┆ store_cd ┆ receipt_no ┆ … ┆ product_cd ┆ quantity ┆ amount ┆ store_name │
│ ---       ┆ h          ┆ ---      ┆ ---        ┆   ┆ ---        ┆ ---      ┆ ---    ┆ ---        │
│ i64       ┆ ---        ┆ str      ┆ i64        ┆   ┆ str        ┆ i64      ┆ i64    ┆ str        │
│           ┆ i64        ┆          ┆            ┆   ┆            ┆          ┆        ┆            │
╞═══════════╪════════════╪══════════╪════════════╪═══╪════════════╪══════════╪════════╪════════════╡
│ 20181103  ┆ 1541203200 ┆ S14006   ┆ 112        ┆ … ┆ P070305012 ┆ 1        ┆ 158    ┆ 葛が谷店   │
│ 20181118  ┆ 1542499200 ┆ S13008   ┆ 1132       ┆ … ┆ P070701017 ┆ 1        ┆ 81     ┆ 成城店     │
│ 20170712  ┆ 1499817600 ┆ S14028   ┆ 1102       ┆ … ┆ P060101005 ┆ 1        ┆ 170    ┆ 二ツ橋店   │
│ 20190205  ┆ 1549324800 ┆ S14042   ┆ 1132       ┆ … ┆ P050301001 ┆ 1        ┆ 25     ┆ 新山下店   │
│ 20180821  ┆ 1534809600 ┆ S14025   ┆ 1102       ┆ … ┆ P060102007 ┆ 1        ┆ 90     ┆ 大和店     │
│ 20190605  ┆ 1559692800 ┆ S13003   ┆ 1112       ┆ … ┆ P050102002 ┆ 1        ┆ 138    ┆ 狛江店     │
│ 20181205  ┆ 1543968000 ┆ S14024   ┆ 1102       ┆ … ┆ P080101005 ┆ 1        ┆ 30     ┆ 三田店     │
│ 20190922  ┆ 1569110400 ┆ S14040   ┆ 1102       ┆ … ┆ P070501004 ┆ 1        ┆ 128    ┆ 長津田店   │
│ 20170504  ┆ 1493856000 ┆ S13020   ┆ 1112       ┆ … ┆ P071302010 ┆ 1        ┆ 770    ┆ 十条仲原店 │
│ 20191010  ┆ 1570665600 ┆ S14027   ┆ 1102       ┆ … ┆ P071101003 ┆ 1        ┆ 680    ┆ 南藤沢店   │
└───────────┴────────────┴──────────┴────────────┴───┴────────────┴──────────┴────────┴────────────┘

---
> P-037: 商品データ（df_product）とカテゴリデータ（df_category）を内部結合し、商品データの全項目とカテゴリデータのカテゴリ小区分名（category_small_name）を10件表示せよ。

In [38]:
df_product.join(
    df_category.select(["category_small_cd", "category_small_name"]),
    on="category_small_cd"
).head(10)

shape: (10, 7)
┌────────────┬───────────────┬──────────────┬──────────────┬────────────┬───────────┬──────────────┐
│ product_cd ┆ category_majo ┆ category_med ┆ category_sma ┆ unit_price ┆ unit_cost ┆ category_sma │
│ ---        ┆ r_cd          ┆ ium_cd       ┆ ll_cd        ┆ ---        ┆ ---       ┆ ll_name      │
│ str        ┆ ---           ┆ ---          ┆ ---          ┆ i64        ┆ i64       ┆ ---          │
│            ┆ i64           ┆ i64          ┆ i64          ┆            ┆           ┆ str          │
╞════════════╪═══════════════╪══════════════╪══════════════╪════════════╪═══════════╪══════════════╡
│ P040101001 ┆ 4             ┆ 401          ┆ 40101        ┆ 198        ┆ 149       ┆ 弁当類       │
│ P040101002 ┆ 4             ┆ 401          ┆ 40101        ┆ 218        ┆ 164       ┆ 弁当類       │
│ P040101003 ┆ 4             ┆ 401          ┆ 40101        ┆ 230        ┆ 173       ┆ 弁当類       │
│ P040101004 ┆ 4             ┆ 401          ┆ 40101        ┆ 248        ┆ 186       ┆ 弁当類       │
│ P040101005 ┆ 4             ┆ 401          ┆ 40101        ┆ 268        ┆ 201       ┆ 弁当類       │
│ P040101006 ┆ 4             ┆ 401          ┆ 40101        ┆ 298        ┆ 224       ┆ 弁当類       │
│ P040101007 ┆ 4             ┆ 401          ┆ 40101        ┆ 338        ┆ 254       ┆ 弁当類       │
│ P040101008 ┆ 4             ┆ 401          ┆ 40101        ┆ 420        ┆ 315       ┆ 弁当類       │
│ P040101009 ┆ 4             ┆ 401          ┆ 40101        ┆ 498        ┆ 374       ┆ 弁当類       │
│ P040101010 ┆ 4             ┆ 401          ┆ 40101        ┆ 580        ┆ 435       ┆ 弁当類       │
└────────────┴───────────────┴──────────────┴──────────────┴────────────┴───────────┴──────────────┘

---
> P-038: 顧客データ（df_customer）とレシート明細データ（df_receipt）から、顧客ごとの売上金額合計を求め、10件表示せよ。ただし、売上実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

In [39]:
df_customer.filter(
    (pl.col("customer_id").str.slice(0, 1) != "Z")
    & (pl.col("gender_cd") == 1)
).select(["customer_id"]).join(
    df_receipt,
    how="left",
    on="customer_id",
).group_by("customer_id").agg(
    pl.col("amount").sum()
).head(10)

shape: (10, 2)
┌────────────────┬────────┐
│ customer_id    ┆ amount │
│ ---            ┆ ---    │
│ str            ┆ i64    │
╞════════════════╪════════╡
│ CS011515000105 ┆ 3527   │
│ CS004411000036 ┆ 836    │
│ CS018313000018 ┆ 0      │
│ CS037412000159 ┆ 0      │
│ CS024514000128 ┆ 0      │
│ CS003712000074 ┆ 0      │
│ CS015711000010 ┆ 0      │
│ CS025415000134 ┆ 4902   │
│ CS040515000008 ┆ 3660   │
│ CS016514000082 ┆ 1401   │
└────────────────┴────────┘

---
> P-039: レシート明細データ（df_receipt）から、売上日数の多い顧客の上位20件を抽出したデータと、売上金額合計の多い顧客の上位20件を抽出したデータをそれぞれ作成し、さらにその2つを完全外部結合せよ。ただし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

In [40]:
df_filtered = df_receipt.filter(pl.col("customer_id").str.slice(0, 1) != "Z")
df_filtered.group_by("customer_id").agg(pl.col("sales_ymd").n_unique()).sort("sales_ymd", descending=True).head(20).join(
    df_filtered.group_by("customer_id").agg(pl.col("amount").sum()).sort("amount", descending=True).head(20),
    on="customer_id",
    how="outer"
)

/var/folders/0v/bgp8lq497zv56786wpv238j40000gn/T/ipykernel_94250/1643022725.py:2: DeprecationWarning: Use of `how='outer'` should be replaced with `how='full'`.
  df_filtered.group_by("customer_id").agg(pl.col("sales_ymd").n_unique()).sort("sales_ymd", descending=True).head(20).join(

shape: (34, 4)
┌────────────────┬───────────┬───────────────────┬────────┐
│ customer_id    ┆ sales_ymd ┆ customer_id_right ┆ amount │
│ ---            ┆ ---       ┆ ---               ┆ ---    │
│ str            ┆ u32       ┆ str               ┆ i64    │
╞════════════════╪═══════════╪═══════════════════╪════════╡
│ CS017415000097 ┆ 20        ┆ CS017415000097    ┆ 23086  │
│ CS015415000185 ┆ 22        ┆ CS015415000185    ┆ 20153  │
│ CS031414000051 ┆ 19        ┆ CS031414000051    ┆ 19202  │
│ CS028415000007 ┆ 21        ┆ CS028415000007    ┆ 19127  │
│ null           ┆ null      ┆ CS001605000009    ┆ 18925  │
│ …              ┆ …         ┆ …                 ┆ …      │
│ CS021515000211 ┆ 18        ┆ null              ┆ null   │
│ CS040214000008 ┆ 23        ┆ null              ┆ null   │
│ CS021515000056 ┆ 18        ┆ null              ┆ null   │
│ CS039414000052 ┆ 19        ┆ null              ┆ null   │
│ CS022515000028 ┆ 18        ┆ null              ┆ null   │
└────────────────┴───────────┴───────────────────┴────────┘

---
> P-040: 全ての店舗と全ての商品を組み合わせたデータを作成したい。店舗データ（df_store）と商品データ（df_product）を直積し、件数を計算せよ。

In [41]:
df_store.join(df_product, how="cross")

shape: (531_590, 16)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ store_cd ┆ store_nam ┆ prefectur ┆ prefectur ┆ … ┆ category_ ┆ category_ ┆ unit_pric ┆ unit_cost │
│ ---      ┆ e         ┆ e_cd      ┆ e         ┆   ┆ medium_cd ┆ small_cd  ┆ e         ┆ ---       │
│ str      ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ i64       │
│          ┆ str       ┆ i64       ┆ str       ┆   ┆ i64       ┆ i64       ┆ i64       ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ S12014   ┆ 千草台店  ┆ 12        ┆ 千葉県    ┆ … ┆ 401       ┆ 40101     ┆ 198       ┆ 149       │
│ S12014   ┆ 千草台店  ┆ 12        ┆ 千葉県    ┆ … ┆ 401       ┆ 40101     ┆ 218       ┆ 164       │
│ S12014   ┆ 千草台店  ┆ 12        ┆ 千葉県    ┆ … ┆ 401       ┆ 40101     ┆ 230       ┆ 173       │
│ S12014   ┆ 千草台店  ┆ 12        ┆ 千葉県    ┆ … ┆ 401       ┆ 40101     ┆ 248       ┆ 186       │
│ S12014   ┆ 千草台店  ┆ 12        ┆ 千葉県    ┆ … ┆ 401       ┆ 40101     ┆ 268       ┆ 201       │
│ …        ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ S14006   ┆ 葛が谷店  ┆ 14        ┆ 神奈川県  ┆ … ┆ 915       ┆ 91503     ┆ 280       ┆ 210       │
│ S14006   ┆ 葛が谷店  ┆ 14        ┆ 神奈川県  ┆ … ┆ 915       ┆ 91503     ┆ 680       ┆ 510       │
│ S14006   ┆ 葛が谷店  ┆ 14        ┆ 神奈川県  ┆ … ┆ 915       ┆ 91503     ┆ 1080      ┆ 810       │
│ S14006   ┆ 葛が谷店  ┆ 14        ┆ 神奈川県  ┆ … ┆ 915       ┆ 91503     ┆ 1130      ┆ 848       │
│ S14006   ┆ 葛が谷店  ┆ 14        ┆ 神奈川県  ┆ … ┆ 915       ┆ 91503     ┆ 1280      ┆ 960       │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

---
> P-041: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前回売上があった日からの売上金額増減を計算せよ。そして結果を10件表示せよ。

In [42]:
df_receipt.group_by("sales_ymd").agg(pl.col("amount").sum()).sort("sales_ymd").with_columns(pl.col("amount").diff().alias("diff")).head(10)

shape: (10, 3)
┌───────────┬────────┬───────┐
│ sales_ymd ┆ amount ┆ diff  │
│ ---       ┆ ---    ┆ ---   │
│ i64       ┆ i64    ┆ i64   │
╞═══════════╪════════╪═══════╡
│ 20170101  ┆ 33723  ┆ null  │
│ 20170102  ┆ 24165  ┆ -9558 │
│ 20170103  ┆ 27503  ┆ 3338  │
│ 20170104  ┆ 36165  ┆ 8662  │
│ 20170105  ┆ 37830  ┆ 1665  │
│ 20170106  ┆ 32387  ┆ -5443 │
│ 20170107  ┆ 23415  ┆ -8972 │
│ 20170108  ┆ 24737  ┆ 1322  │
│ 20170109  ┆ 26718  ┆ 1981  │
│ 20170110  ┆ 20143  ┆ -6575 │
└───────────┴────────┴───────┘

---
> P-042: レシート明細データ（df_receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、前回、前々回、3回前に売上があった日のデータを結合せよ。そして結果を10件表示せよ。

In [43]:
df_receipt.group_by("sales_ymd").agg(pl.col("amount").sum()).sort("sales_ymd") \
    .with_columns(pl.col("amount").diff(n=1).alias("diff_1")) \
    .with_columns(pl.col("amount").diff(n=2).alias("diff_2")) \
    .with_columns(pl.col("amount").diff(n=3).alias("diff_3"))

shape: (1_034, 5)
┌───────────┬────────┬────────┬────────┬────────┐
│ sales_ymd ┆ amount ┆ diff_1 ┆ diff_2 ┆ diff_3 │
│ ---       ┆ ---    ┆ ---    ┆ ---    ┆ ---    │
│ i64       ┆ i64    ┆ i64    ┆ i64    ┆ i64    │
╞═══════════╪════════╪════════╪════════╪════════╡
│ 20170101  ┆ 33723  ┆ null   ┆ null   ┆ null   │
│ 20170102  ┆ 24165  ┆ -9558  ┆ null   ┆ null   │
│ 20170103  ┆ 27503  ┆ 3338   ┆ -6220  ┆ null   │
│ 20170104  ┆ 36165  ┆ 8662   ┆ 12000  ┆ 2442   │
│ 20170105  ┆ 37830  ┆ 1665   ┆ 10327  ┆ 13665  │
│ …         ┆ …      ┆ …      ┆ …      ┆ …      │
│ 20191027  ┆ 37484  ┆ -14287 ┆ 8651   ┆ 5616   │
│ 20191028  ┆ 40161  ┆ 2677   ┆ -11610 ┆ 11328  │
│ 20191029  ┆ 36091  ┆ -4070  ┆ -1393  ┆ -15680 │
│ 20191030  ┆ 26602  ┆ -9489  ┆ -13559 ┆ -10882 │
│ 20191031  ┆ 25216  ┆ -1386  ┆ -10875 ┆ -14945 │
└───────────┴────────┴────────┴────────┴────────┘

---
> P-043： レシート明細データ（df_receipt）と顧客データ（df_customer）を結合し、性別コード（gender_cd）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータを作成せよ。性別コードは0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

---
> P-044： 043で作成した売上サマリデータ（df_sales_summary）は性別の売上を横持ちさせたものであった。このデータから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を"00"、女性を"01"、不明を"99"とする。

---
> P-045: 顧客データ（df_customer）の生年月日（birth_day）は日付型でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに10件表示せよ。

---
> P-046: 顧客データ（df_customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型に変換し、顧客ID（customer_id）とともに10件表示せよ。

---
> P-047: レシート明細データ（df_receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型に変換し、レシート番号（receipt_no）、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> P-048: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> P-049: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「年」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

---
> P-050: レシート明細データ（df_receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「月」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「月」は0埋め2桁で取り出すこと。

---
> P-051: レシート明細データ（df_receipt）の売上エポック秒を日付型に変換し、「日」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「日」は0埋め2桁で取り出すこと。

---
> P-052: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2,000円以下を0、2,000円より大きい金額を1に二値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> P-053: 顧客データ（df_customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に二値化せよ。さらにレシート明細データ（df_receipt）と結合し、全期間において売上実績のある顧客数を、作成した二値ごとにカウントせよ。

---
> P-054: 顧客データ（df_customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに10件表示せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。

---
> P-055: レシート明細（df_receipt）データの売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額合計とともに10件表示せよ。カテゴリ値は順に1〜4とする。
>
> - 最小値以上第1四分位未満 ・・・ 1を付与
> - 第1四分位以上第2四分位未満 ・・・ 2を付与
> - 第2四分位以上第3四分位未満 ・・・ 3を付与
> - 第3四分位以上 ・・・ 4を付与

---
> P-056: 顧客データ（df_customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに10件表示せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。

---
> P-057: 056の抽出結果と性別コード（gender_cd）により、新たに性別×年代の組み合わせを表すカテゴリデータを作成し、10件表示せよ。組み合わせを表すカテゴリの値は任意とする。

---
> P-058: 顧客データ（df_customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに10件表示せよ。

---
> P-059: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに10件表示せよ。標準化に使用する標準偏差は、分散の平方根、もしくは不偏分散の平方根のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

TIPS:
- query()の引数engineで'python'か'numexpr'かを選択でき、デフォルトはインストールされていればnumexprが、無ければpythonが使われます。さらに、文字列メソッドはengine='python'でないとquery()内で使えません。

---
> P-060: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> P-061: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を常用対数化（底10）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> P-062: レシート明細データ（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を自然対数化（底e）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

---
> P-063: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から各商品の利益額を算出し、結果を10件表示せよ。

---
> P-064: 商品データ（df_product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。ただし、単価と原価には欠損が生じていることに注意せよ。

---
> P-065: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> P-066: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を丸めること（四捨五入または偶数への丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> P-067: 商品データ（df_product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

---
> P-068: 商品データ（df_product）の各商品について、消費税率10％の税込み金額を求めよ。1円未満の端数は切り捨てとし、結果を10件表示せよ。ただし、単価（unit_price）には欠損が生じていることに注意せよ。

---
> P-069: レシート明細データ（df_receipt）と商品データ（df_product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分コード（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分コード"07"（瓶詰缶詰）の売上実績がある顧客のみとし、結果を10件表示せよ。

---
> P-070: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

---
> P-071: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

---
> P-072: レシート明細データ（df_receipt）の売上日（df_customer）に対し、顧客データ（df_customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

---
> P-073: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、顧客データ（df_customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

---
> P-074: レシート明細データ（df_receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、直前の月曜日付とともに10件表示せよ（sales_ymdは数値でデータを保持している点に注意）。

---
> P-075: 顧客データ（df_customer）からランダムに1%のデータを抽出し、先頭から10件表示せよ。

---
> P-076: 顧客データ（df_customer）から性別コード（gender_cd）の割合に基づきランダムに10%のデータを層化抽出し、性別コードごとに件数を集計せよ。

---
> P-077: レシート明細データ（df_receipt）の売上金額を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。なお、外れ値は売上金額合計を対数化したうえで平均と標準偏差を計算し、その平均から3σを超えて離れたものとする（自然対数と常用対数のどちらでも可）。結果は10件表示せよ。

---
> P-078: レシート明細データ（df_receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第1四分位と第3四分位の差であるIQRを用いて、「第1四分位数-1.5×IQR」を下回るもの、または「第3四分位数+1.5×IQR」を超えるものとする。結果は10件表示せよ。

---
> P-079: 商品データ（df_product）の各項目に対し、欠損数を確認せよ。

---
> P-080: 商品データ（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たな商品データを作成せよ。なお、削除前後の件数を表示させ、079で確認した件数だけ減少していることも確認すること。

---
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たな商品データを作成せよ。なお、平均値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> P-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> P-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品のカテゴリ小区分コード（category_small_cd）ごとに算出した中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

---
> P-084: 顧客データ（df_customer）の全顧客に対して全期間の売上金額に占める2019年売上金額の割合を計算し、新たなデータを作成せよ。ただし、売上実績がない場合は0として扱うこと。そして計算した割合が0超のものを抽出し、結果を10件表示せよ。また、作成したデータに欠損が存在しないことを確認せよ。

---
> P-085: 顧客データ（df_customer）の全顧客に対し、郵便番号（postal_cd）を用いてジオコードデータ（df_geocode）を紐付け、新たな顧客データを作成せよ。ただし、1つの郵便番号（postal_cd）に複数の経度（longitude）、緯度（latitude）情報が紐づく場合は、経度（longitude）、緯度（latitude）の平均値を算出して使用すること。また、作成結果を確認するために結果を10件表示せよ。

---
> P-086: 085で作成した緯度経度つき顧客データに対し、会員申込店舗コード（application_store_cd）をキーに店舗データ（df_store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客住所（address）の緯度・経度を用いて申込み店舗と顧客住所の距離（単位：km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は以下の簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示せよ。

$$
\mbox{緯度（ラジアン）}：\phi \\
\mbox{経度（ラジアン）}：\lambda \\
\mbox{距離}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 − \lambda_2))
$$

---
> P-087: 顧客データ（df_customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなして1顧客1レコードとなるように名寄せした名寄顧客データを作成し、顧客データの件数、名寄顧客データの件数、重複数を算出せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残し、売上金額合計が同一もしくは売上実績がない顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

---
> P-088: 087で作成したデータを元に、顧客データに統合名寄IDを付与したデータを作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定
> 
> 顧客IDのユニーク件数と、統合名寄IDのユニーク件数の差も確認すること。

---
> P-089: 売上実績がある顧客を、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

---
> P-090: レシート明細データ（df_receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月の時系列モデル構築用データを3セット作成せよ。

---
> P-091: 顧客データ（df_customer）の各顧客に対し、売上実績がある顧客数と売上実績がない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

---
> P-092: 顧客データ（df_customer）の性別について、第三正規形へと正規化せよ。

---
> P-093: 商品データ（df_product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータ（df_category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データを作成せよ。

---
> P-094: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> P-095: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|CP932|
> 
> ファイル出力先のパスは以下のようにすること。
> 
> |出力先|
> |:--:|
> |./data|

---
> P-096: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|無し|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること。
> 
> |出力先|
> |:--:|
> |./data|

---
> P-097: 094で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|

---
> P-098: 096で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|ヘッダ無し|UTF-8|

---
> P-099: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
>
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること
> 
> |出力先|
> |:--:|
> |./data|

---
> P-100: 099で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|

# これで１００本終わりです。おつかれさまでした！